# Name: Astronomy
# Author: F. Hessman
# Version: 2.1
# Date: 2016-SEP-13
# Requires: ImageJ >= 1.50
# Generated the jar file using: "jar cvfM Astronomy_.jar plugins.config *"

Plugins>Astrometry, "Align Coordinates", Align_Coordinates("")
# Plugins>Astrometry, "Get WCS Position", Astrometry_("")
Plugins>Astrometry, "ROI Astrometry", Roi_Astrometry("")
Plugins>Astrometry, "Modify ROI Overlay", Overlay_Shifter("")
Plugins>Astrometry, "Get USNO Stars", USNO_Stars("")
Plugins>Astrometry, "Get WCS Position", World_Coordinates("")
# Plugins>Astrometry, "Set Telescope", Set_Telescope("")
# Plugins>Astrometry, "Set World Coordinates", Set_World_Coordinates("")
# Plugins>Astrometry, "Query Simbad", Simbad_Query("")
#
Plugins>Astronomy, "Align Image", Align_Image("")
Plugins>Astronomy, "Aperture ", Aperture_("")
Plugins>Astronomy, "Set Aperture", Set_Aperture("")
# Plugins>Astronomy, "CCD Calibration", CCD_Calibration("")
Plugins>Astronomy, "Clear Overlay", Clear_Overlay("")
Plugins>Astronomy, "Create Mean PSF", Create_Mean_PSF("")
Plugins>Astronomy, "Find Telescope Focus", Focus_Telescope("")
Plugins>Astronomy, "MultiAperture ", MultiAperture_("")
Plugins>Astronomy, "Seeing Profile", Seeing_Profile("")
Plugins>Astronomy, "Copy FITS Header", Copy_FITS_Header("")
Plugins>Astronomy, "Read FITS Header", Read_FITS_Header("")
# Plugins>Astronomy, "Edit FITS Header", FITS_Header_Editor("")
Plugins>Astronomy, "Write FITS Header", Write_FITS_Header("")
Plugins>Astronomy, "Fix FITS Header", FITS_Header_Fixer("")
# Plugins>Astronomy, "Set MultiAperture", Set_MultiAperture("")
#
Plugins>CCD, "Process Images", Process_Images("")
Plugins>CCD, "Underflow Correction", Underflow_Fixer("")
Plugins>Color,     "RGB Composer", RGB_Composer("")
Plugins>Process, "Image Calculator Plus", Image_Calculator_Plus("")
Plugins>Process, "Shift Image", Image_Shifter("")
Plugins>Process, "Uncalibrate Image", Uncalibrate_Image("")
Plugins>Stacks,    "Align Stack", Stack_Aligner("")
Plugins>Stacks,    "Normalize Stack", Normalize_Stack("")
# Plugins>Input-Output, "Write FITS", FITS_Writer2("")
Plugins>Input-Output, "Read Measurement Table", Read_MeasurementTable("")
Plugins>Graphics, "Plot Table Columns", Plot_Table_Columns("")
#
# Plugins>Event, "Sterne messen", Sterne_messen("")
# Plugins>Event, "Souvenir ausdrucken", Souvenir_("")
